
body{
    
    overflow-x: hidden;
    font-family:Merriweather,serif;
    font-size: 14px;
    /* line-height: 24px; */

}
/* .container{
    margin: 80px;
} */
.contnav, .imghead, .title_paragh p, .line{
    display: none;
}
body .cont{
    max-width: 100%;
    /* background-color: #E63946; */
    /* margin-left: 84px; */
    /* background-color: #F8F8F8; */
    font-family:Merriweather,serif;
    font-size: 14px;
}
body .header{
    /* text-align: center; */
    display: flex;
    background-image: url("porfolio_design/assets/BG.png");
    background-repeat: no-repeat;
     /* background-color: rgba(255, 250, 240, 0.774);  */
     /* background-color: #F8F8F8; */
     height: 100vh;
     background-position-y: bottom;
     /* transform: translate3d(50%, 0, 0); */
     /* animation: slideInB 2.5s ease-in-out forwards; */
 
 }
 .frontbg{
    background-color: #F8F8F8;
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% - 813px);
    height: 100vh;
    z-index: -2;
    transition: all 1s cubic-bezier(0.55, 0.06, 0.68, 0.19);
 }
 @keyframes slideInB {
     0% {
       transform: translate3d(100%, 0, 0) ;
     }
     100% {
       transform: translate3d(0%, 0, 0);
     }
   }
body .header .title_paragh {
    position: relative;
    top: 50%;
    left: 30px;
    padding-left: 110px;

}
 h1{
    bottom: 30px;
    font-family: poppins,sans-serif;
    font-weight: 800;
    font-size: 43px;
    line-height: 53px;
}
body .header .title_paragh .line{
    color: black;
    font-size: 40px;
    max-width: 600px;
    position: relative;
    padding-left: 75px;

}
.header .title_paragh p {
    padding-left: 75px;

}
 p{
line-height: 24px;
    }


body .header .title_paragh .line:before {
    content: "";
    display: block;
    width: 45px;
    height: 5px;
    background: #E63946;
    left: 85px;
    top: 26%;
    position: absolute;
    left: -12px;
}
body .header .imgback{
    background-color: #A8DADC;
    position: absolute;
    top: 0;
    right: 0;
    width: 813px;
    height: 100vh;
    transition: all 1s cubic-bezier(0.55, 0.06, 0.68, 0.19);
    z-index: -1;
}

    /* transform: translate3d(100%, 0, 0); */
    /* animation: slideIn 2.5s ease-in-out forwards; */

}
@keyframes slideIn {
    0% {
      transform: translate3d(100%, 0, 0) ;
    }
    100% {
      transform: translate3d(0%, 0, 0);
    }
  }
body .header .imghead{
    position: absolute;
    bottom: 0;
    left: 774px;
    /* animation: slideIn 2.5s ease-in-out forwards; */
    /*transform: translateY(50px);*/
    animation: slideUp .5s ease-in-out;
}
@keyframes slideUp {
    0% {
      transform: translateY(300px);
    }
    100% {
      transform: translateY(0px);
    }
  }
    
body .section__one--page-home{
    display: flex;
    transform: translateY(400px);
    animation: slideUp .8s ease-in-out forwards .8s;
    padding: 200px 0;
}
body .section__one--page-home button{
background-color: transparent;
border: 2px solid #E63946;
padding: 11px 150px;
position: relative;
    top: 68%;
    font-weight: bold;
    color: #E63946;
    right: 86%;
}
body .section__one--page-home h1{

color: #fff;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #E63946;
    /* text-transform: uppercase; */
    font-weight: 107px;
    font-size: 122px;
    padding-left: 110px;
    margin-top: 40px;
    font-weight: 100;
    font-weight: 100;
    line-height: 0.5em;
    text-shadow: 5px 0 10px #ccc;

}
.section__one--page-home  h1 .color_span-red{
    -webkit-text-fill-color: #E63946;
}
.section__one--page-home span:hover{
    color: aquamarine;
/* background-color: #E63946; */
/* background-color: #E63946; */
/* text-transform: uppercase; */
-webkit-text-fill-color: #E63946;
-webkit-text-stroke-width: .4px;
-webkit-text-stroke-color: #000;



/* color: #E63946; */
/* text-decoration-color: aqua; */
}

.first__sections .section__frontend{
    display: flex;
    margin-top: 300px;
    margin-left: 35px;

}
.first__sections .section__frontend .paragraphs{
    max-width: 30%;
}
.first__sections .section__Backend .paragh{
    /* max-width: 30%; */
    margin-left: 18rem;


}



/* .first__sections .section__frontend p{
  
   
    /* position: relative;
    right: 19%;
    bottom: 14%;
    line-height: 44px;
    position: relative;
    font-size: 24px;
    font-family: Merriweather,sans-serif; */
/* }  */
.first__sections .section__frontend .paragh_one{
    margin-left: -26%;
    margin-top: -7rem;
    font-size: 24px;
    line-height: 44px;
    font-family: Merriweather,sans-serif;
    transform: translateY(300px);
    animation: slideUp .8s ease-in-out forwards .8s;
}
@keyframes slideUp {
    0% {
      transform: translateY(300px);
    }
    100% {
      transform: translateY(0px);
    }
  }
.first__sections .section__frontend .paragh__two{
    margin-left: -7rem;
    font-size: 14px;
    line-height: 24px;
    font-family: Merriweather,sans-serif;
}
.first__sections .section__Backend{
    display: flex;
    margin-top: 220px;
    /* margin-left: 106px; */

}
.first__sections .section__Backend .paragh p{
    font-size: 24px;
    line-height: 44px;
    font-family: Merriweather,sans-serif;
    margin-left: 13rem;
    text-align: end;

 
}

.first__sections .title_1{
    margin-bottom: 57px;
    /* margin-top: 1%; */
    color: #fff;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
    /* text-transform: uppercase; */
    font-weight: 107px;
    font-size: 138px;
    font-weight: 40;
    transform: rotate(-90deg);
    line-height: 117px;
    font-family: Poppins,sans-serif;
    margin-right: 6rem;


    
}


 .first__sections{
    background-image: url("porfolio_design/assets/BGsectiontwo.png");
    background-repeat: no-repeat;
    /* height: 150vh; */
    background-position: bottom right;  



    /* text-align: center;
    position: relative;
    height: 49vh;
    background-image: url("porfolio_design/assets/BGsectiontwo.png");
    background-repeat: no-repeat;
    height: 150vh;
    background-position: bottom right;  */
} 
/* body .first__sections  hr{
    margin-top: 63px;
   
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    height: 1px;
    width: 217px;
    left: 40%;
    position: absolute;
} */

.first__sections h3{
    /* margin-bottom: 8.5rem; */
    font-size: 22px;
    font-weight: 138;
    text-transform: uppercase;
    font-family: poppins,sans-serif;

    }
.first__sections .title_one{
    margin-bottom: 57px; 
    /* margin-top: 1%; */
    color: #fff;
    -webkit-text-fill-color: #fff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000000;
    /* text-transform: uppercase; */
    font-weight: 107px;
    font-size: 138px;
    padding-left: 110px;
    font-weight: 40;
    transform: rotate(-90deg);
    line-height: 117px;
    font-family: Poppins,sans-serif; 
    text-transform: uppercase;

        
    }
    /* body .first__sections .title_two{
     

        margin-top: 98px !important;
        margin-right: 12% !important;
        margin-bottom: 56px;
    
    }
    body .first__sections .title_tr{
   
     

        margin-top: 98px !important;
        margin-right: 12% !important;
        margin-bottom: 56px;
    
}
body .first__sections .title_for{
   
    margin-top: 98px !important;
    margin-right: 12% !important;
    margin-bottom: 56px;

}
body .first__sections .paragh_one{
    left: 48%;
    position: relative;
    text-align: start;
}
body .first__sections .paragh_two{
    top: 17%;
    right: 54%;
    position: relative;
    text-align: end;
n: relative;
}
body .first__sections .paragh_tr{
  
    
    left: 48%;
    position: relative;
    text-align: start;
}body .first__sections .paragh_for{
    top: 17%;
    right: 54%;
    position: relative;
    text-align: end;
    
    }


b .last_section{
    text-align: center;
    background-color: #A8DADC;
    padding: 60px;
} */
.last_section{
    text-align: center;
    background-color: #A8DADC;
    padding: 60px;
    margin-top: 67px;
    display: flex;

}
.last_section h2{
font-family: Poppins sans-serif;
font-weight: 74px;
color: white;
line-height: 72px;
-webkit-text-stroke-width: 1px;
padding-left: 110px;
font-size: 74px;

}
 .last_section p{
    letter-spacing: 2px;
    margin-top: 20px;
        text-align: start;
    margin-left: 6rem;
    font-family: merriweather, sans-serif;
    font-size: 24px;
    line-height: 32px;

}
body .last_section button{
    /* border: none; */
    border: 4px solid #ffffff;
    background-color: transparent;



    padding: 10px 106px;
    margin-top: 26px;
    color: white;
    font-family: Poppins, sans-serif;
    margin-right: 29rem;
}


/*Stying for small screens*/
@media screen and (max-width: 800px){

    body{
    
        overflow-x: hidden;
        text-align: center;
    
    }
    body .header{
        /* display: none; */
        /* text-align: center; */
        display: flex;
        background-image: url("porfolio_design/assets/backgrndHeadermodif.png");
        background-repeat: no-repeat;
         /* background-color: rgba(255, 250, 240, 0.774);  */
         background-color: #F8F8F8;
         height: 110vh;
         width: 100%;
         background-size: 317px;
             animation: slideInB 2.5s ease-in-out forwards;

       
    }

    body .header .imgback{
       display: none;
    }

    body .header .imghead{
        position: absolute;
        bottom: 0;
        left: 400px;
        width: 300px;
        /* animation: slideIn 1.5s ease-in-out forwards;
        transition: all .8s ease; */

    
    }
    /* @keyframes slideIn {
        0% {
          transform: translateX(500px) scale(.2);
        }
        100% {
          transform: translateX(0px) scale(1);
        }
      } */
      
/* styling section front end back end title & also paragh */
.first__sections{
    text-align: center;
    position: relative;
    height: 49vh;
    background-image: url("porfolio_design/assets/BGsectiontwo.png");
    background-repeat: no-repeat;
    height: 150vh;
    background-position: bottom right; 

    width: 100%;
}


.header .title_paragh {
        text-align: center;
        position: relative;
        top: 268px;
        left: 30px;
    }
 .header .title_paragh h1{
    bottom: 30px;
    /* animation: slideTitle .8s ease forwards .5s; */

    }

.header .title_paragh .line{
        text-align: center;
        color: black;
        font-size: 40px;
        max-width: 600px;
        position: relative;
        left: 27%;
        -webkit-animation: slide 0.5s forwards;
        -webkit-animation-delay: 2s;
        animation: slide 0.5s forwards;
        animation-delay: 2s;
    

    
        /* animation: slideUp .8s ease forwards .5s; */


    
    }
    @-webkit-keyframes slide {
        100% { left: 0; }
    }
    
    @keyframes slide {
        100% { left: 0; }
    }
    /* @keyframes slideTitle {
        0% {
          transform: translateY(300px);
        }
        100% {
          transform: translateY(0px);
        }
      } */
.header .title_paragh p{
        position: relative;
        left: 27%;
        }
    
    
/* hr{
    display: none;
} */
body .first__sections{
    width: 100%;

}
body .first__sections h3{
    /* margin-bottom: 8.5rem; */
    font-size: 22px;
    font-weight: 600;

    }
body .first__sections .title_one{
        margin-bottom: 57px;
        margin-top: 1%;
        
    }
    body .first__sections .paragh_one{
        left: 33%;
        position: relative;
        text-align: start;
    }

    body .first__sections .title_two{
        margin-bottom: 57px;
        margin-top: 1%;
        
    }
    body .first__sections .paragh_two{
        left: 33%;
        position: relative;
        text-align: start;
    }

    body .first__sections .title_tr{
        margin-bottom: 57px;
        margin-top: 1%;
        
    }
    body .first__sections .paragh_tr{
        left: 33%;
        position: relative;
        text-align: start;
    }
    body .first__sections .title_for{
        margin-bottom: 57px;
        margin-top: 1%;
        
    }
    body .first__sections .paragh_for{
        left: 33%;
        position: relative;
        text-align: start;
    }
}


/* Responsive placing of the infoProjectes*/
.section__portfolio {
		padding: 5% 6% 0% 15%;
}
.section__portfolio h2{
    font-size: 2rem;
    line-height: 3.8rem;
    margin: 20px 0 40px;
color: #E63946; 
   text-shadow: 0 1px 0 #E63946;
    letter-spacing: 5px;
    text-align: center;
    font-family: Poppins,serif;
}
.section__portfolio:after {
		content: '';
		display: inline-block;
		width: 100%;
}

/* Inside the infoProject */
.section__portfolio .infoProject {
		width: 96%;
		margin:2%;
		padding-bottom: 96%;
		height: 0;
		position: relative;
		float: left;
		cursor: pointer;
		overflow: hidden;
/*		infoProject-shadow: 0px 3px 18px 1px #fff;*/
		
}

.section__portfolio .infoProject:after {
		content: '';
		position: absolute;
		background-color: #000;
		opacity:0;
		z-index: 55;
		width: 100%;
		height: 100%;
		-webkit-transition: all .15s ease-out;
		-moz-transition: all .15s ease-out;
		-ms-transition: all .15s ease-out;
		-o-transition: all .15s ease-out;
		transition: all .15s ease-out;
}

.section__portfolio .infoProject:hover::after {
		background-color: #000;
		opacity:.7;
}

.section__portfolio .infoProject .titles {
		position: absolute;
		z-index: 60;
		width: 90%;
		margin-left: 5%;
		top: 50%;
		-webkit-transform: scale(3);
		-moz-transform: scale(3);
		-ms-transform: scale(3);
		-o-transform: scale(3);
		transform: scale(3);
		text-align: center;
		-webkit-transition: all .15s ease-out;
		-moz-transition: all .15s ease-out;
		-ms-transition: all .15s ease-out;
		-o-transition: all .15s ease-out;
		transition: all .15s ease-out;
		font: 1.4em normal Arial, sans-serif;
		color: #fff;
		opacity: 0;
}

.section__portfolio .infoProject:hover .titles {
		-webkit-transform: scale(1) translate(0%, -50%);
		-moz-transform: scale(1) translate(0%, -50%);
		-ms-transform: scale(1) translate(0%, -50%);
		-o-transform: scale(1) translate(0%, -50%);
		transform: scale(1) translate(0%, -50%);
		opacity: 1;
}

.section__portfolio .infoProject img {
		position: absolute;
		left: 50%;
		top: 50%;
		height: 100%;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		z-index: 50;
		-webkit-transition: all .15s ease-out;
		-moz-transition: all .15s ease-out;
		-ms-transition: all .15s ease-out;
		-o-transition: all .15s ease-out;
		transition: all .15s ease-out;
}

.section__portfolio .infoProject:hover img {
	height: 150%;
}
/* media changes, changing number of columns */

@media all and (min-width: 350px){
  .section__portfolio .infoProject{
		width: 48%;
		margin:1%;
		padding-bottom:48%;
	}
}

@media all and (min-width: 800px){
  .section__portfolio .infoProject{
		width: 31.3333%;
		padding-bottom:30%;
	}
}
@media all and (min-width: 1200px){
  .section__portfolio .infoProject{
		width: 23%;
		padding-bottom:23%;
	}
}



